<!DOCTYPE html>
<html>
<head>
	<title>Show User</title>
</head>
<body>
	<p>Branch: <%= @dojo.branch %></p>
	<p>Street: <%= @dojo.street %></p>
	<p>City: <%= @dojo.city %></p>
	<p>State: <%= @dojo.state %></p>
	<a href="/dojos">Go Back</a>
</body>
</html>