// Place all the styles related to the gold controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gold{
	display:inline_block;
	width: 50px;
	margin-left: 20px;
	border: 2px solid black;
}
.form{
	width: 200px;
	height: 200px;
	text-align: center;
	display: inline-block;
	border: 2px solid black;
	margin: 10px;
}
#activity{
	border: 2px solid black;
	height: 300px;
	overflow: scroll;
	width: 900px;
	margin: 20px;
}
.red{
	color: red;
}
.green{
	color: green;
}