<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-3">
		<%= render 'table' %>
	</div>
	<div class="col-sm-3">
		<%= render 'form' %>
	</div>
	<div class="col-sm-3">
		<h1>Go to Users Page</h1>
	</div>
</div>